{% extends ':admin:base.html.twig' %}

{% block body %}
    {{ include('admin/admin/page-header.html.twig', {main_level: 'Tâches', sub_level: command|title|replace('-', ' ')}) }}

    <div class="row">
        <div class="col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="icon-settings font-green-haze"></i>
                        <span class="caption-subject bold uppercase"> {{ command|replace('-', ' ') }}</span>
                    </div>
                    <div class="actions">
                            <a class="btn btn-sm green" id="launch-task" href="javascript:;">
                                Lancer la tâche
                            </a>
                    </div>
                </div>
                <div class="portlet-body form" id="task-container">
                    <div class="console">
                        <div class="inner-output"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        jQuery(function($) {

            $('#launch-task').on('click', function() {
                var $button = $(this);
                $button.attr('disabled', 'disabled').html('<i class="fa fa-cog fa-spin fa-fw"></i>');
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{{ path('admin_tache_do') }}', true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.send('command={{ command }}');
                var timer;
                timer = window.setInterval(function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        window.clearTimeout(timer);
                        $button.removeAttr('disabled').html('Lancer la tâche');
                    }
                    $('.inner-output').html(xhr.responseText);
                    $('.console').scrollTop($('.inner-output').height());
                }, 250);
            });

        });
    </script>
{% endblock %}