<aside id="text-2" class="widget widget_text">
    <h3 class="widget-title">L'énervée sur Facebook</h3>
    <div class="textwidget">
        <div class="fb-page" data-width="280" data-href="https://www.facebook.com/lenervee" data-height="740" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/lenervee"><a href="https://www.facebook.com/lenervee">L&#039;énervée</a></blockquote></div></div>
    </div>
</aside>