<aside id="text-3" class="widget widget_text">
    <h3 class="widget-title">&nbsp;</h3>
    <div class="textwidget">
        <span style="font-size: 0.85em; display: inline-block; font-weight: 0; color; #626262; text-align: center;">
            Pressez les touches Ctrl + D de votre clavier et regardez la magie opérer
        </span>
    </div>
</aside>