<aside id="search-5" class="widget widget_search">
    <h3 class="widget-title">Chercher sur le blog</h3>
    <form role="search" method="get" class="search-form" action="{{ path('courrier_rechercher') }}">
        <div>
            <input type="text" class="search-field" value="" placeholder="Je vous écoute..." name="s" autocomplete="off" />
            <button type="submit" class="search-submit"><i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</aside>