<aside id="text-1" class="widget widget_text">
    <h3 class="widget-title">Statistiques</h3>
    <div class="textwidget">
        <div class="pagination-counter">
            <span class="current">{{ nb_reponses }}</span>
            <span class="total">{{ nb_courriers }}</span>
            <span class="label">réponses</span>
        </div>
    </div>
</aside>