
<div class="col-md-6 col-sm-6">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption ">
                <span class="caption-subject font-dark bold uppercase">Nombre de courriers</span>
                <span class="caption-helper">par catégorie</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="dashboard_amchart_4" class="CSSAnimationChart"></div>
        </div>
    </div>
</div>