{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
            <div class="mt-element-overlay">
                <div class="row">
                    <div class="col-md-12">
                            <div class="mt-overlay-6">
                                {% if form.parent.vars.image_url is not null %}
                                    <img src="{{ asset(form.parent.vars.image_url) }}" />
                                {% else %}
                                    <img src="{{ asset('img/question_mark.png') }}">
                                {% endif %}
                                <div class="mt-overlay">
                                    <p>
                                        <a class="mt-info uppercase btn default btn-outline" id="delete-image" href="javascript:;">
                                            {% if form.parent.vars.image_url is not null %}
                                                {{ form.parent.vars.image_url }}
                                            {% else %}
                                                Aucune image
                                            {% endif %}
                                        </a>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    {% endspaceless %}
{% endblock %}