<div id="email-share-form">
    <form>
        <div class="form-group">
            <input id="email-share-form-sender-name" style="min-width: 100%;" type="text" class="form-control" placeholder="Votre nom"/>
        </div>
        <div class="form-group">
            <input id="email-share-form-sender-email" style="min-width: 100%;" type="text" class="form-control" placeholder="Votre email"/>
        </div>
        <div class="form-group">
            <input id="email-share-form-friend-email" style="min-width: 100%;" type="text" class="form-control" placeholder="Son email"/>
        </div>
        <div class="form-group">
            <button style="min-width: 100%;" data-courrier="{{ courrier }}" type="submit" class="form-control btn btn-primary" id="partager-submit">Partager</button>
        </div>
    </form>
</div>