ul.dropdown-menu {
    left:auto !important;
    right:5px !important;
}

.table-editable {
    border-bottom: 1px dashed rgba(67, 173, 255, 0.71);
    cursor: pointer;
}

.dropdown-header:not(.lefty) {
    padding-top: 15px !important;
}

.transitionnable {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#pending-reactions .panel {
    position: relative;
}

.datetimepicker-inline {
    margin: auto !important;
}

#courrier_submit,
#presse_submit{
    zoom: 2
}

.blog-post-tags>li>a {
    background-color: #f4f6f8;
    color: #a0a9b4;
    font-size: 11px;
    font-weight: 600;
    padding: 7px 10px;
}
.blog-post-tags {
    text-align: left;
    padding: 0;
    margin: 20px 0 0;
}

.blog-post-tags>li {
    list-style: none;
    display: inline-block;
    margin: 0 15px 30px 0;
}

.blog-post-tags>li>a:hover {
    background-color: #3598DC;
    color: #fff;
    text-decoration: none;
}

.btn-group {
    position: relative !important;
}

tr[data-id] {
    -webkit-transition: background-color 2.5s;
    -moz-transition: background-color 2.5s;
    transition: background-color 2.5s;
}