<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Administration du blog</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ main_level }}</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ sub_level }}</span>
        </li>
    </ul>
</div>
<h3 class="page-title">
    {{ main_level }}
    <small>{{ sub_level|lower }}</small>
</h3>