<div class="page-quick-sidebar-wrapper">
    <div class="page-quick-sidebar">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab"> Performance
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active page-quick-sidebar-settings" id="quick_sidebar_tab_3">
                <div class="page-quick-sidebar-settings-list">
                    <h3 class="list-heading">Cache</h3>
                    <ul class="list-items borderless">
                        <li> OpCache reset
                            <input id="opcache-reset" type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="RAZ" data-off-color="default" data-off-text="OFF"> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>