
/*-------------------------------------------------------*/
/*	media css for first breakpoint ( < $container_width )
/*-------------------------------------------------------*/
.row {width:100%;}

#peliegro-search {display:none;}

.post-blocks-holder {padding:30px;border:0;}
.post-excerpt, .post-link-holder {padding-left:0;padding-right:0;}

#container {overflow:hidden;}
#sidebar.go-sticky .sidebar-inner {position:static!important;}

#content {border-top:1px solid #d4d4d4;}
#content .page-inner {padding-left:0;}

#sidebar .widget {padding-right:0;}

#wrapper, body, html {z-index:1;background-color:#fff;}

body.mobile-expand-menu #wrapper {position:absolute;right:75%;left:auto;width:100%;}


.bw-line {display:none;}

#mixer.cols-3 .mix-item {width:50%;}

#footer .widget .widget-title:after {display:none!important;}

.post-heading.inner {padding:0;}
.post-heading-nav {display:none;}

/* font size */
.section-header h2 {font-size:35px;}
.section-header .sub-title {font-size:20px;}
.post-title {font-size:30px;}
.post-excerpt {font-size:14px;}
.pagination-counter .current {font-size:60px;}
.pagination-counter .total {top:0;}
.section-header {padding-top:50px;padding-bottom:45px;}
.section-header h2 {line-height:normal;}
.page-inner h1 {font-size:36px;}.page-inner h2 {font-size:32px;}.page-inner h3 {font-size:28px;}.page-inner h4 {font-size:24px;}.page-inner h5 {font-size:20px;}.page-inner h6 {font-size:16px;}

@-webkit-keyframes animLoadedLogo {
    to {opacity:1;-webkit-transform:translate3d(0,100%,0) translate3d(0,-400px,0) scale3d(1,1,1)!important; }
}
@keyframes animLoadedLogo {
    to {
        transform:translate3d(0,100%,0) translate3d(0,-400px,0) scale3d(1,1,1)!important;
        -webkit-transform:translate3d(0,100%,0) translate3d(0,-400px,0) scale3d(1,1,1)!important;
    }
}