html, body:not(.bw-search-do) {
    overflow: visible !important;
}

#header .social li {
    margin: 0;
    margin-left: 5px;
    width: 20px;
    /*margin-bottom: 5px;*/
}

#header .social li a i {
    color: #666;
    font-size: 1.25em;
}

#header .social li a:hover i {
    color: white;
}

span.pad.round {
    margin-top: -2px;
    margin-left: -9px;
    height: 30px;
    width: 30px;
}

.post-footer-module {
    float: left;
    width: 100%;
    padding: 50px 35px 30px;
}

.post-footer-module h2 {
    float: left;
    width: 100%;
    margin: 0 0 55px;
    color: #252525;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

.alt-heading .heading-intro {
    margin-top: 20px;
    color: #5F85B0;
    font-family: 'Josefin Sans';
    font-size: 1.25em;
}

#respond {
    width: 100%;
    height: 380px;
}

#reaction_submit,
#contact_submit,
#partager-submit {
    float: left;
    padding: 14px 20px;
    text-align: center;
    margin: 25px 0 0 0;
    background-color: #eee;
    color: #555;
    font-size: 12px;
    background-image: none;
    text-transform: uppercase;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
}

#reaction_submit:hover,
#contact_submit:hover,
#partager-submit:hover {
    background-color:#5f85b0;border-color:#39506a;color:#fff;
}

#contact_submit.submit-error,
#partager-submit.submit-error {
    background-color: #b72a16;
    color: white;
}
#contact_submit.submit-success,
#partager_submit.submit-success {
    background-color: #16af28;
    color: white;
}

.popover {
    z-index: 2;
}

.popover h3 {
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
}

#voir-reponse-ctn {
    height: 104px;
}


#voir-reponse-ctn h2 {
    font-family: "Amatic SC" !important;
}

#voir-reponse-ctn .post-heading {
    padding-top: 20px;
    padding-bottom: 20px;
}

#voir-reponse-ctn h2 a {
    color: #5F85B0;
}

aside#toggle-reponse .textwidget {
    text-align: center;
}

aside#toggle-reponse .textwidget div.input {
    margin: auto;
    width: 60px;
}

.share-buttons {
    width: 100%;
    margin-bottom: -25px;
    text-align: center;
}

.share-buttons ul {
    margin: 0;
}

.share-buttons li {
    margin: auto;
    display: inline-block;
}

.share-buttons li i.icn:before {
    width: 38px;
    height: 38px;
    /*margin-top: -19px;*/
}

i.icn.share-fb:before {
    content: url('../images/share_fb.png')
}

i.icn.share-tw:before {
    content: url('../images/share_tw.png')
}

i.icn.share-gp:before {
    content: url('../images/share_gp.png')
}

i.icn.share-print:before {
    content: url('../images/share_print.png')
}

i.icn.share-email:before {
    content: url('../images/share_email.png')
}

i.icn.share-more:before {
    content: url('../images/share_more.png');
}

i.icn.share-more {
    cursor: pointer;
}

i.icn.edit-courrier:before {
    content: url('../images/edit_courrier.png');
    width: 38px;
    height: 38px;
    display: inline-block;
}

.pagination-counter {
    padding: 0;
}

#sidebar {
    transform: translateX(0%);
}

#header.slide-down #navigation {
    z-index: 100001;
}

.popover {
    z-index: 1000000 !important;
    max-width: 350px;
}

.highlight-search {
    background-color: rgba(255, 255, 0, 0.4);
}

.comment-merci {
    margin: auto;
    display: block;
}

.comment-respond .comment-merci:before,
.comment-respond .comment-merci:after {
    left: 0;
}

.popover img {
    max-width: 100%;
}

.popover-title {
    border-bottom: 1px solid #d4d4d4;
    background-color: #f9f9f9;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center !important;
    line-height: 20px;
    color: black;
}

.popover-title > span,
.comment-respond .comment-merci {
    position: relative;
    font-weight: 300;
    font-family: 'Open Sans';
    font-size: 0.625em;
    top: -8px;
    font-style: italic;
    line-height: 35px;
}

.popover-title > span:before,
.popover-title > span:after,
.comment-respond .comment-merci:before,
.comment-respond .comment-merci:after {
    content: '';
    position: absolute;
    width: 36px;
    height: 10px;
    top: 4px;
    left: -70px;
    background-image: url('../img/arrows.png');
    background-position: 0 0;
}

.popover-title > span:after,
.comment-respond .comment-merci:after {
    left: auto;
    right: -70px;
    background-position: 36px 0;
}

.popover-content {
    color: #666;
    text-align: center !important;
}

#email-share-form > form input.with-error {
    background-color: rgba(255, 30, 26, 0.59);
}

#email-share-form > form input {
    -webkit-transition: background 0.25s ease-in-out;
    -ms-transition:     background 0.25s ease-in-out;
    transition:         background 0.25s ease-in-out;
}

#sidebar.fixed {
    position: fixed;
    margin-top: 70px;
    bottom: 0px;
    right: 12%;
}

#share-email {
    cursor: pointer;
}

#contact_email {
    width: 60% !important;
}

.div[style="width: 366px"] {
    position: initial !important;
}

.testimonials-widget-testimonials  {
    margin-left: -20px;
    color: #586573;
}

blockquote {
    font-style: italic ;
}

blockquote:not(.reponse) > p:first-child,
blockquote:not(.reponse) > p:last-child {
    text-align: right;
}

.testimonials-widget-testimonials blockquote {
    padding: 15px;
}

.tooltip-inner {
    max-width: 500px !important;
}


.testimonials-widget-testimonials blockquote:before,
.testimonials-widget-testimonials blockquote:after {
    content: none;
}

.ph-image {
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px !important;
    background-size: cover;
    background-position: center center;
}

#dgd_scrollbox-1672 {
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    bottom: 0 !important;
}

#dgd_scrollbox-1672.shown {
    right: 0px !important;
}

#cookie-notice .cookie-notice-container {
    padding-top: 15px !important;
}

@media only screen and (max-width: 1120px) {
    #logo-mobile {
        width: 90% !important;
    }

    blockquote {
        width: 90% !important;
    }

    .owl-carousel {
        max-width: 50%;
    }

    #related-articles {
        display: none;
    }

    .ta-prev, .ta-next {
        display: none;
    }

    #header.go-sticky #navigation {
        left: 0 !important;
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 450px) {
    #cn-notice-text {
        font-size: 0.75em;
    }

    #cookie-notice .cookie-notice-container {
        padding-top: 0 !important;
    }
}


@media only screen and (max-width: 782px) {
    #wrapper {
        margin-top: -46px !important;
    }

    #sidebar .widget,
    #footer .widget {
        padding: 0;
        padding-bottom: 50px;
        text-align: center;
    }

    .pagination-counter .current {
        font-size: 100px !important;
    }

    .pagination-counter .current:after {
        font-size: 30px !important;
    }

    .pagination-counter .total {
        top: -30px !important;
    }

    .comment-form input {
        display: block;
        min-width: 100%;
    }

    .post-heading .sub-info .sub-content,
    .widget_search > *{
        padding-left: 10px;
        padding-right: 10px;
    }

    #reaction_submit {
        width: 100%;
    }

    .bj-fbpp-list {
        margin: 0 !important;
    }

    #header {height:70px;padding-bottom:0;background-color:#f4f4f4;}
    #header .social-holder {display:none;}
    #header .header-search i {display:none;}

    #logo-mobile {display:block;}

    #header, .section-header, .journal-content, .post-blocks, #content {border:0;}

    #sticky-logo {display:none!important;}

    #logo {display:none;}
    #logo-mobile .bw-table {position:static;padding-left:20px;}
    #logo-mobile img {display:inline-block;vertical-align:middle;height:auto;}

    #mobile-toggle, #mobile-search {display:block;}


    .journal-wrap, .page-content {padding-left:30px;padding-right:30px;}

    #header #navigation {
        padding:30px;
        display:none;
        z-index:-1;
        width:75%;
        position:fixed!important;
        top:0;right:0!important;
        left:auto!important;
        margin:0!important;
        height:100%!important;
        background-image: url("../img/crumpled-white-paper-texture-melemel-jpeg_260159.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height:100%;
        border:0;
        overflow-y:scroll;
        overflow-x:hidden;
    }

    #header #navigation li a {
    color: black;text-align: center;font-size: 3.5em !important;
    }

    #header #navigation li a:hover {
    color: #5F85B0;
    }

    #navigation .sub-menu {position:static!important;visibility:visible;opacity:1;left:0;margin-left:0;}
    #navigation .sub-menu:after {content:none;}
    #navigation .sub-menu li a {color:#ccc!important;}
    #navigation .sub-menu {width:100%!important;}

    body.mobile-expand-menu #header #navigation {display:block;top:0;right:0;position:fixed;}

    #navigation .menu li {width:100%;display:block;margin-top: 50px;}
    #navigation .menu li a {width:100%;display:block;color:#fff;padding:5px 10px 5px 0;}
    #navigation .sub-menu {display:block!important;background-color:transparent;position:static!important;padding-left:30px;}
    #navigation .menu .sub-menu li a {padding:10px 20px 10px 0;}

    #header .search-field {
        background-color: #eee;
        border: 1px solid #ccc;
        color: black;
    }

    #header .search-submit {
        background-color: #5f85b0;
    }

    #header .search-submit:hover {
        background-color: #888;
    }
}

@media only screen and (max-width: 768px) {
    #wrapper {
        width: 100% !important;
    }

    .journal-wrap {
        padding: 0 !important;
    }

    .post-excerpt {
        text-align: center;
    }

    .post-more {
        width: 100%;
    }
}

#cookie-notice {
    padding-top: 10px;
    max-height: 100px;
    background-image: url("../img/crumpled-white-paper-texture-melemel-jpeg_260159.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #d4d4d4;
    -webkit-box-shadow: 10px 10px 15px 20px #808080;
    box-shadow: 0px 0px 50px 0px #808080;
    display: inline-block;
    z-index: 100001;
    font-size: 1.1em;
}

#cookie-notice .button {
    clear:both;
    margin-bottom:25px;
    text-decoration:none;
    color:white;
    border:3px solid #eee;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    display:inline-block;
    margin-top: 10px;
    font-family:"Open Sans";
    font-size:10px;
    line-height:normal;
    margin-bottom:25px;
    padding:2px 9px;
    text-decoration:none;
    text-transform:uppercase;
    vertical-align: inherit;
    background-color:#777;
}

#cookie-notice .button:hover {
    color:#fff;
    background-color:#5F85B0;
}

#testimonials_widget-3 blockquote::before {
    font-size: 15px;
    left: 10px;
    top: 10px;
}

#contact-page .twitter-mention-button {
    margin-left: 85px;
}

#contact-page {

}