{% extends '::base.html.twig' %}

{% block title %}{{ categorie.name }}{% endblock %}

{% block css %}
    <style>
        @media only screen and (max-width: 768px) {
            .post-heading {
                border-bottom: none;
            }
        }
    </style>
{% endblock %}

{% block courrier_heading %}
    <div class="alt-heading">
        <h1 class="page-title">{{ categorie.name }}</h1>
        <p class="heading-intro">{{ categorie.description }}</p>
    </div>
{% endblock %}

{% block inner_body %}
    {% for courrier in courriers %}
        {{ render(controller('AppBundle:Courrier:apercu', {id: courrier.id})) }}
    {% endfor %}
{% endblock %}