{% extends '::base.html.twig' %}

{% block title %}
    A propos
{% endblock %}

{% block courrier_heading %}
    <div class="section-header text-center">
        <h2 class="main-title">A propos</h2>
        <span class="sub-title">Qui sommes-nous ?</span>
    </div>
{% endblock %}

{% block full_width %}content{% endblock %}

{% block inner_body %}
    <div class="content">
        <article class="page-content post-2 page type-page status-publish hentry">
            <div class="page-inner layout-full">
                <h3>Qui sommes-nous ?</h3>
                <p>Deux jeunes qui ont décidé de s’amuser avec les incohérences des stratégies marketing des industriels de la grande distribution agroalimentaire (mais pas que).</p>
                <h3>Pourquoi ce blog ?</h3>
                <p>Ce blog satirique a été créé dans le but de divertir notre lectorat par des avis humoristiques à prendre au second degré (ce blog n’a pas pour but d’informer le consommateur ni à être un site d’investigation).</p>
                <h3>Mais L’énervée… ?</h3>
                <p>L’énervée est un personnage fictif et les histoires relatées dans ses courriers sont totalement inventées par nos soins. Imaginez sinon les déboires à répétition de cette pauvre dame !</p>
                <h3>Bouh, c’est pas drôle alors !</h3>
                <p>Si si ! Les courriers sont réellement envoyés aux services consommateurs des marques de la grande distribution ou parfois transmis via les réseaux sociaux. Nous avons l’inspiration pour écrire les courriers de réclamation. Nous ne l’avons, en revanche, pas du tout pour ce qui est des réponses ! Nous préférons laisser cette tâche aux principaux concernés. Ainsi, les réactions des marques destinataires de nos courriers&nbsp;sont tout à fait authentiques.</p>
                <h3 style="text-align: center;">Bonne lecture !</h3>
            </div>
        </article>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}