{% extends '::base.html.twig' %}

{% block title %}
    Contactez-nous !
{% endblock %}

{% block courrier_heading %}
    <div class="section-header text-center">
        <h2 class="main-title">Contact</h2>
        <span class="sub-title">Ecrivez-nous !</span>
    </div>
{% endblock %}

{% block full_width %}content{% endblock %}

{% block inner_body %}
    <div class="content">
        <article class="page-content post-518 page type-page status-publish hentry">

            <div class="page-inner layout-full">
                <p>Pour prendre contact avec l’Administrateur pour toute demande d’informations, partenariat, soumission d’idées d’histoires ou tout simplement pour nous dire de continuer :</p>
                <ul>
                    <li style="list-style: circle">envoyez-nous un message sur notre <a href="http://www.facebook.com/lenervee/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.facebook.com/lenervee/', 'page Facebook']);" target="_blank">page Facebook</a>,</li>
                    <li style="list-style: circle">twittez-nous <a href="http://twitter.com/lenervee/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://twitter.com/lenervee/', '@lenervee']);" target="_blank">@lenervee</a> ou</li>
                    <li style="list-style: circle">envoyez un e-mail à&nbsp;<img style="height: 19px; display: inline-block;" src="{{ asset('img/email-contact.png') }}" alt="Email de contact"></li>
                </ul>
        </article>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}