{% extends '::base.html.twig' %}

{% block title %}
    Contactez-nous !
{% endblock %}

{% block courrier_heading %}
    <div class="section-header text-center">
        <h2 class="main-title">Contact</h2>
        <span class="sub-title">Ecrivez-nous !</span>
    </div>
{% endblock %}

{% block full_width %}content{% endblock %}

{% block inner_body %}
    <div class="content">
        <article class="page-content post-518 page type-page status-publish hentry">

            <div class="page-inner layout-full">
                <p>Pour prendre contact avec nous pour toute demande d’informations, partenariat, soumission d’idées d’histoires ou tout simplement pour nous dire de continuer, trois moyens s'offrent à vous.</p>
                <div class="text-center" id="contact-page">
                    <div class="widget" style="display: inline-block; width: 33%">
                        <h3 class="widget-title">Twitter</h3>
                        <a style="margin-left: 81.5px" href="https://twitter.com/intent/tweet?screen_name=lenervee" class="twitter-mention-button" data-lang="fr" data-size="large" data-related="lenervee">Tweetez @lenervee</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="widget" style="display: inline-block; width: 33%">
                        <h3 class="widget-title">Facebook</h3>
                        <div class="fb-page" data-href="https://www.facebook.com/lenervee/" data-tabs="messages" data-width="163" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/lenervee/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lenervee/">L&#039;énervée</a></blockquote></div>
                    </div>
                    <div class="widget" style="display: inline-block; width: 33%">
                        <h3 class="widget-title">Email</h3>
                        envoyez un e-mail à
                        <a href="mailto:Recopiez l'adresse ici">
                            <img style="height: 19px; display: inline-block;" src="{{ asset('img/email-contact.png') }}" alt="Email de contact">
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}