{% extends '::base.html.twig' %}

{% block title %}
    Mentions légales
{% endblock %}

{% block courrier_heading %}
    <div class="section-header text-center">
        <h2 class="main-title">Mentions légales</h2>
        <span class="sub-title">Parce qu'on est obligé...</span>
    </div>
{% endblock %}

{% block full_width %}content{% endblock %}

{% block inner_body %}
    <div class="content">
        <article class="page-content post-993 page type-page status-publish hentry">

            <div class="page-inner layout-full">
                <h3>EDITION</h3>
                <p>Le <a href="http://lenervee.com/">blog de L’énervée</a> est un site éditorial satirique à vocation humoristique destiné au public en ligne édité à titre non professionnel au sens de l’article 6, III, 2° de la loi 2004-575 du 21 juin 2004. En vertu de cet article, l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi sont les suivants :&nbsp;Steve David (co-propriétaire, créateur&nbsp;et&nbsp;webmaster)&nbsp;et Enora Marcoux (co-propriétaire et responsable de la publication).</p>
                <h3>HÉBERGEMENT</h3>
                <p>Ce site est hébergé sur la plateforme d’hébergement OVH (Siège social : 2 rue Kellermann – 59100 Roubaix – France). Cet hébergeur possède à ce jour les éléments d’identification personnelle concernant l’éditeur de ce site. En cas de réclamation sur le contenu de ce site, commentaire ou billet, je vous propose de m’adresser un courrier électronique via <a title="Contact" href="http://lenervee.com/contact/">cette page</a>.</p>
                <h3>DROIT DE LA PROPRIÉTÉ INTELLECTUELLE</h3>
                <p>Sauf mention contraire, l’ensemble de ce site relève des législations française et internationale sur le droit d’auteur et la propriété intellectuelle, notamment par les dispositions des articles L111-1 et L122-4 du Code de la Propriété Intellectuelle. Toute reproduction de son contenu est interdite sans autorisation préalable, expresse et écrite.<br>
                    Tout autre matériel contenu sur ce site ne lui appartenant pas (photos, textes, images, codes source, logos, noms de produits ou marques citées, etc.) est la propriété de leurs détenteurs respectifs.</p>
                <h3>PROTECTION DES DONNÉES PERSONNELLES</h3>
                <p>Lorsque vous postez un commentaire sur ce site, vous devez fournir votre nom (ou votre pseudo) ainsi que votre adresse e-mail. Ces informations sont stockées dans une base de données. Votre adresse de courrier électronique ne sera jamais affichée sur le site ou utilisée pour quelque raison que ce soit sans votre accord. Votre adresse IP est également enregistrée mais ne sera jamais affichée, exploitée ou communiquée. Sauf dans le cas où ce serait requis par la justice. Conformément à l’article 39 de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous avez un droit d’accès, de modification et d’opposition sur vos données personnelles enregistrées par le site.</p>
                <p>Un cookie peut être enregistré dans votre ordinateur pour permettre à votre navigateur web de conserver les informations que vous entrez dans le formulaire de commentaire, afin que vous n’ayez pas à les ressaisir à chaque fois que vous déposez un commentaire sur le site. Il est rappelé au visiteur qu’il peut s’opposer à l’implantation de « cookie » en configurant son navigateur dans ce sens.</p>
                <h3>CRÉDITS</h3>
                <p>Le blog de L’énervée utilise le framework de développement <a href="http://symfony.com/" target="_blank">Symfony</a> et le thème « Peliegro » de <a href="http://peenapo.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://peenapo.com/', 'Peenapo']);" target="_blank">Peenapo</a>. Le logo, créé et mis en forme par <a href="http://www.laurafrere.fr/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.laurafrere.fr/', 'Laura Frère']);" target="_blank">Laura Frère</a>, est la propriété exclusive de l’éditeur du site. Toute reproduction est interdite.</p>
            </div>
        </article>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}